*.exe
*.exp
*.ilk
*.pdb
*.obj
*.tlog
*.pch
*.idb
*.manifest
*.res
*.sdf
*.suo
*.vcxproj.user
*.rar
*.aps
*.opensdf
*.cppcheck
*.zip
*.VC.db
*.VC.opendb
copy_*.bat
update.txt
Debug
Release
x64
Win/Debug
Win/Release
Win/x64
Win/UpdateCheck.*
Win/teapot*.png
ipch
TileMaker/TileMaker/blocks*
TileMaker/TileMaker/MW_BLOCKS
TileMaker/TileMaker/code*
TileMaker/TileMaker/make_*.bat
TileMaker/TileMaker/output.*
TileMaker/TileMaker/terrainBase*
TileMaker/TileMaker/terrainExt*
TileMaker/Debug
TileMaker/ipch
TileMaker/Release
TileMaker/x64
TileMaker/TileMaker/Debug
TileMaker/TileMaker/ipch
TileMaker/TileMaker/Release
TileMaker/TileMaker/x64
Win/My Inspector Results - Mineways/*
