*.exe
*.exp
*.ilk
*.pdb
*.obj
*.tlog
*.pch
*.idb
*.manifest
*.res
*.sdf
*.suo
*.vcxproj.user
*.rar
*.aps
*.opensdf
*.cppcheck
*.zip
*.VC.db
*.VC.opendb
copy_*.bat
crush_images.bat
update.txt
Debug
Release
x64
Win/Debug
Win/Release
Win/x64
Win/UpdateCheck.*
Win/teapot*.png
docs/images/crushed
mineways-cppcheck-build-dir
ipch
TileMaker/TileMaker/1.*
TileMaker/TileMaker/blocks*
TileMaker/TileMaker/MW_BLOCKS
TileMaker/TileMaker/code*
TileMaker/TileMaker/make_*.bat
TileMaker/TileMaker/output.*
TileMaker/TileMaker/terrainBase*
TileMaker/TileMaker/terrainExt*
TileMaker/TileMaker/Mineways*
TileMaker/Debug
TileMaker/ipch
TileMaker/Release
TileMaker/x64
TileMaker/TileMaker/crushed
TileMaker/TileMaker/Debug
TileMaker/TileMaker/ipch
TileMaker/TileMaker/Release
TileMaker/TileMaker/x64
Win/My Inspector Results - Mineways/*
*.log
.vs/*
ChannelMixer/.vs/*
TileMaker/.vs/*
TileMaker/TileMaker/*.txt
TileMaker/TileMaker/*.bat
TileMaker/TileMaker/*.pl
TileMaker/TileMaker/textures/water_normal.png
Win/mineways_log.txt
TileMaker/TileMaker/jg-rtx*
TileMaker/TileMaker/Luna*
TileMaker/TileMaker/Smoolistic 1.16.210 V1/*
TileMaker/TileMaker/screenshots/*
TileMaker/TileMaker/resource_packs_processed/*
TileMaker/TileMaker/_unused_texture_packs/*
TileMaker/TileMaker/CoterieCraft16xFrontierMC1.16rev9/*
TileMaker/TileMaker/Doey RTX HD 1.16.200 V5.2/*
TileMaker/TileMaker/Luna_Freepack1.17/*
TileMaker/TileMaker/_previous_texture_pack_versions/*
tilemaker/TileMaker/terrainBase.png
Win/Mineways_english.rc
.vs/Mineways/v17/Browse.VC.db-wal
.vs/Mineways/v17/Browse.VC.db-shm
.vs/Mineways/FileContentIndex/*
TileMaker/TileMaker/Luna_64x_1.19/*
