*.exe
*.exp
*.ilk
*.pdb
*.obj
*.tlog
*.pch
*.idb
*.manifest
*.res
*.sdf
*.suo
*.vcxproj.user
*.rar
*.aps
*.opensdf
*.cppcheck
*x*.png
Debug
MinewaysMap/Debug
MinewaysMap/Release
Release
Win/Debug
Win/Release
ipch
TileMaker/tiles_*
TileMaker/tiles/*.png*