Source: minutor
Section: utils
Priority: extra
Maintainer: Sean Kasun <sean@seancode.com>
Build-Depends: debhelper (>= 7), pkg-config, libgtk2.0-dev
Standards-Version: 3.8.4
Homepage: http://seancode.com/minutor/

Package: minutor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Minecraft mapping tool
 Minutor lets you view and inspect your Minecraft worlds.
 It is designed for Minecraft Beta.
