#wrapper {
	font-family:"helvetica nue",sans-serif;
	padding: 20px;
	/* padding-left:5%; */
	/* padding-right:5%; */
	max-width: 88rem;
    /* text-align: center; */
}


#community-wrapper {
	font-family:"helvetica nue",sans-serif;
	padding: 20px;
	/* padding-left:5%; */
	/* padding-right:5%; */
	/* max-width: 80rem; */
    /* text-align: center; */
}


#mineways-header-image {
  /* text-align: center; */
  padding-bottom: 10px;
}
#mineways-header-image img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#downloadImgs div {
  display: inline-block;
  margin: 2px 10px;
}
#downloadImgs div img {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}
#downloadImgs div p {
  font-family: "helvetica nue", sans-serif;
}


.helpLightOuterSector {
  /* background-color: #f1f1f1; */
  padding: 10px 10px;
  border-style: double;
}


.helpDarkOuterSector {
  /* background-color: #eeeeee; */
  padding: 10px 10px;
  border-style: double;
}


.helpInnerSector {
  /* background-color: #eaeaea; */
  padding: 10px 10px;
  border-style: double;
}


#logoImgs {
  text-align: center;
}
#logoImgs .eiffelContainer {
  display: inline-block;
}
#logoImgs .eiffelContainer img {
  margin-bottom: 10px;
}
#logoImgs .eiffelContainer p {
  margin-top: 10px;
}
#logoImgs p, body #logoImgs a, body #logoImgs span {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 100;
}

#eiffelImgs {
  text-align: center;
}
#eiffelImgs .eiffelContainer {
  display: inline-block;
}
#eiffelImgs .eiffelContainer img {
  margin-bottom: 10px;
}
#eiffelImgs .eiffelContainer p {
  margin-top: 10px;
}
#eiffelImgs p, body #eiffelImgs a, body #eiffelImgs span {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 100;
}


#terrainImgs {
  max-width: 100%;
}
#terrainImgs .terrainImg {
  max-width: 512px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
#terrainImgs .terrainImg span {
  margin: 10px;
  display: block;
}


#texturePacks .textureBox {
  display: inline-block;
  text-align: center;
  width: 200px;
  vertical-align: top;
  margin: 10px;
}
#texturePacks .textureBox span {
  display: block;
}


#textureImgs {
  max-width: 100%;
}
#textureImgs .textureImg {
  max-width: 500px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}
#textureImgs .textureImg span {
  margin: 10px;
  display: block;
}


#slicerProbs {
  max-width: 100%;
}
#slicerProbs .slicerProb {
  max-width: 446px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}
#slicerProbs .slicerProb span {
  margin: 10px;
  display: block;
}


#connectBlocks {
  max-width: 100%;
}
#connectBlocks .connectBlock {
  max-width: 314px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}
#connectBlocks .connectBlock span {
  margin: 10px;
  display: block;
}


#floatingBlocks {
  max-width: 100%;
}
#floatingBlocks .floatingBlock {
  max-width: 446px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}
#floatingBlocks .floatingBlock span {
  margin: 10px;
  display: block;
}


#hollowBlocks {
  max-width: 100%;
}
#hollowBlocks .hollowBlock {
  max-width: 479px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}
#hollowBlocks .hollowBlock span {
  margin: 10px;
  display: block;
}

#code {
  max-width: 100%;
  background: #cccccc;
  font-family:"Consolas",monospaced;
  padding-top: 6px;
  padding-bottom: 6px;
}

#getGoing {
    /* width: 50px; */
    /* height: 50px; */
    /* background: #999; */
    /* display: inline-block; */
    vertical-align: top;
}


#productLogo {
  border-style: double;
}


}

#helpLink {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	width: 100%;
}

#helpLink:hover {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

.imgWrap {
	position: relative;
	display: inline-block;
}

.imgWrap .imgTitle {
  visibility: visible;
  opacity: 1;
}

.imgTitle {
  position: absolute;
  top: 0;
  left: 1vw;
  background: rgba(50, 169, 195, 0.72);
  color: #fff;
  /* font-size: 200%; */
  font-size: 4vw;
  margin: 1vw;
  padding: 1vw;

  visibility: hidden;
  opacity: 0;
}

.imgDescription {
  position: absolute;
  /* top: 50px; */
  top: 8vw;
  left: 1vw;
  background: rgba(50, 169, 195, 0.72);
  color: #fff;
  font-size: 3vw;
  margin: 1vw;
  padding: 1vs;

  visibility: hidden;
  opacity: 0;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40rem) {
	.imgWrap {
		max-width: 40rem;
	}
	
	.imgTitle {
		  left: 0.4rem;
		  font-size: 1.6rem;
		  margin: 0.4rem;
		  padding: 0.4rem;
	}

	.imgDescription {
		  top: 3.2rem;
		  left: 0.4rem;
		  font-size: 1.2rem;
		  margin: 0.4rem;
		  padding: 0.4rem;
	}
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}
#cssmenu > ul {
  /* background: url('images/bg.png'); */
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#cssmenu > ul > li > ul {
  top: 120px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 180px;
  color: #d3eced;
  background: #39b1cc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #d3eced;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #d3eced;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #ffffff;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #ffffff;
  border-left-color: transparent;
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    background: #39b1cc;
  }
  #cssmenu > ul {
    display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    padding: 18px 25px 18px 25px;
    border-right: 0;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
    background: rgba(0, 0, 0, 0.1);
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #d3eced;
    padding: 18px 25px 18px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* background: url('images/bg.png'); */
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    border-bottom: 2px solid #d3eced;
    right: 25px;
    top: 18px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    right: 25px;
    top: 28px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}

h3 { font-size: 150%; }
h4 { font-size: 120%; }